<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-12">
          <ul class="contact-list">
            <li class="p-name"><a href="https://www.linkedin.com/in/jacobschellenberg/"><img style="width:100px;margin-top:8px;" src="/assets/img/Logo-2C-128px-TM.png"></a></li>
          </ul>
        </div>
        <div class="footer-col footer-col-12">
            <ul class="contact-list">
              <li class="p-name"><a href="https://github.com/jacobschellenberg"><img style="width:100px;margin-left:-8px;" src="/assets/img/GitHub_Logo.png"></a></li>
            </ul>
          </div>
        <div class="footer-col footer-col-12">
          <ul class="contact-list">
            <li class="p-name">{% include twitter.html %}</li>
          </ul>
        </div>

      <div class="footer-col footer-col-12">
        All content copyright <a href="/">Schellex Software</a> © 2018 • All rights reserved.
      </div>
    </div>
  </div>
</footer>
    